<!DOCTYPE html>
<html lang="en" ng-app="TescoinSearch">
<head>
  <meta charset="UTF-8">
  <title>Tescoin</title>
  <link rel="stylesheet" type="text/css" href="app/fonts/newtext_bold.ttf">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="app/js/app.js"></script>
  <script src="app/js/controllers/tescoinSearchController.js"></script>
</head>
<body  ng-controller="TescoinSearchController as searchCtrl">
  <div class="tesc-header">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <p class="logo">TESCOIN</p>
      </a>
    </div>
    <div id="sessionScreen" ng-show="searchCtrl.isActiveTab(1)">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" name='mySession' class="form-control" ng-model="searchCtrl.sessionKey" placeholder="Enter session number">
        </div>
        <button type="submit" ng-click="searchCtrl.setTab(2)" class="btn btn-default">Search</button>
      </form>
    </div>
    <div id="searchScreen" ng-show="searchCtrl.isActiveTab(2)">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" ng-model="searchCtrl.searchTerm" class="form-control" placeholder="Search">
        </div>
        <button type="submit" ng-click="searchCtrl.doSearch()" class="btn btn-default">Search</button>
      </form>
    </div>
  </div>

  <div class="search-results" ng-show="searchCtrl.isActiveTab(2)">Number of products: {{ searchCtrl.searchedProducts.length }}</div>

  <div class="product-background" ng-repeat="product in searchCtrl.searchedProducts">
    <div class="row-1">
      <div class="col-md-3">
        <i class="fa fa-btc">{{ product.price }}</i>
      </div>
      <div class="col-md-9">
        <p class="product-name">{{ product.pName }}</p>
      </div>
    </div>
    <div class="image-box">
      <img class="img-small" src="{{ product.img }}" alt="Picture">
    </div>
  </div>
  <footer>
  <div>
    <div>
      <a href="http://ronin.makersacademy.com/"><img src="app/images/ronin-ma-logo.png"></a>
    </div>
    <div class="credits">
      <p>
      We built this page at <a href="http://ronin.makersacademy.com" target="_blank" class="ronin">Ronin Makers Academy</a>, a highly selective 12 week coding course in London.
      <br>
      Built by <a href ="https://github.com/forty9er" target="_blank" class="ronin">Tom Barnes</a>, <a href ="https://github.com/youngmanr" target="_blank" class="ronin">Rob Youngman</a>, <a href ="https://github.com/d9nny" target="_blank" class="ronin">Dan Wheeler</a> and <a href ="https://github.com/yevdyko" target="_blank" class="ronin">Yev Dyko</a>.
      <br>
      This page uses <a href="https://www.angularjs.org/" target="_blank" class="ronin">Angular JS</a>, <a href="https://www.javascript.com/" target="_blank" class="ronin">Javascript</a>, <a href="http://www.w3.org/html/" target="_blank" class="ronin">HTML</a> and <a href="http://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="ronin">CSS</a>.
      </p>
    </div>
  </div>
  </footer>
</body>
</html>