.tesc-header {
  padding-left: 45px;
  padding-top: 12.5px;
  height: 75px;
  background-color: #FFF;
  vertical-align: middle;
}

.logo {
  font-family: "Verdana";
  font-size: 22px;
  font-weight: bold;
  src: url(/fonts/newtext_bold.ttf);
  color: #FE0016;
}

.product-background {
  background-color: #0042EF;
  width: 100%;
  height: 425px;
}

.product-container {
  background-color: red;
  position: absolute;
  vertical-align: middle;
  height: 325px;
  width: 550px;
  margin-left: 500px;
  margin-top: 60px;
}

.search-results {

}

.col-md-3  {
  height: 110px;
  width: 150px;
  background-color: yellow;
  position: relative;
  margin-top: 15px;
  vertical-align: middle;
}

.col-md-9 {
  height: 110px;
  width: 150px;
  background-color: yellow;
  border-left: 1px solid #000;
  position: relative;
  margin-top: 15px;
  margin-bottom: 10px;
}

i {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: bold;
  vertical-align: middle;
  font-style: normal;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  font-style: normal;
}

.row-1 {
  width: 300px;
  height: 140px;
  background-color: yellow;
  position: absolute;
  margin-left: 750px;
  margin-top: 245px;
}

.image-box {
  border-radius: 25px;
  width: 250px;
  height: 250px;
  background-color: red;
  position: absolute;
  margin-left: 510px;
  margin-top: 95px;
}

footer {
  background-color: rgba(255,255,255, 1);
  border-top: 1px dotted rgba(205,205,201, 1);
  padding: 23px 30px 30px 45px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.img-small {
  border-radius: 25px;
  width: auto;
  height: 250px;
}