.logo {
  font-family: "Newtext";
  src: url(/fonts/newtext_bold.ttf);
  color: #FE0016;
}

.product-background {
  background-color: #0042EF;
  width: 100%;
  height: 450px;
}

.product-container {
  background-color: #000;
  width: 60%;
  margin-top: 50px;
  margin: auto;
  position: relative;
}

.product-info {
  background-color: #FFF;
  position: absolute;
  height: 80px;
}

.col-md-3  {
  background-color: #FFF;
  border-right: 1px solid black;
  height: 50px;
}

.row {
  max-width: 60%;
  padding-right: 10px;
  height: 150px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.col-md-9 {
  max-width: 60%;
  background-color: #FFF;
  height: 50px;
}

.tesc-header {
  height: 80px;
  background-color: #FFF;
}

img {
  width: auto;
  height: 300px;
}