.logo {
  font-family: "Newtext";
  src: url(/fonts/newtext_bold.ttf);
  color: #FE0016;
}

.before-stripe {
  height: 60px;
}

.stripe {
  background-color: #0042EF;
  width: 100%;
  height: 450px;
}

.row {
  height: 75px;
}


.col-md-2 {
  background-color: #FFF;
  height: 300px;
}

.tesc-header {
  height: 80px;
  /*border-bottom: 1px solid;*/
}